In [1]:
import pandas as pd 
import numpy as np
import tweepy
from tweepy import OAuthHandler 
from timeit import default_timer as timer
import requests
import json
import datetime

In [2]:
auth = tweepy.OAuthHandler('gkP7m77Dh1ZJ7Sa2RbIe9efbm', 'VDXb4Rd8PleTtqx7RUnC5yAXEO30BJauxucy51UhnM8CkE6uO2')
auth.set_access_token('248792425-1PBfRxNX1OV6ieDI2ZBNNxPRz1IhzP5b75V8wx6s', 'm4r7fYgXIUErPv33n3MYducYFv1kpi6uTOQwhdOEjMYsm')

api = tweepy.API(auth, wait_on_rate_limit=True)

In [3]:
df_1 = pd.read_csv('./twitter-archive-enhanced-2.csv')

In [4]:
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

2356

In [5]:
count = 0
fails_dict = {}
start = timer()

In [6]:
with open('tweet_json.txt', 'w') as outfile:
    for tweet_id in tweet_ids:
        count += 1 
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except :
            print("Fail")
            fails_dict[tweet_id]
            pass
end = timer()
print(end - start)
print(fails_dict)

1: 892420643555336193
Fail

KeyError: 892420643555336193

In [7]:
# Downloading image-predictions table
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response=requests.get(url)

In [8]:
with open("image-predictions.tsv", mode = 'wb') as file:
    file.write(response.content)

In [9]:
# Reading the image-predications table into a dataframe
image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')

In [10]:
# using python code to to read the 'tweet_json.txt' file line by line into a dataframe
data =[]
for line in open('tweet-json.json', 'r'):
    data.append(json.loads(line))

In [11]:
tweet_json=pd.DataFrame(data)

In [12]:
twitter_archive = pd.read_csv('./twitter-archive-enhanced-2.csv')

# Visually Assessing the gathered data

In [13]:
# visually assessing the 'image_predictions' table
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [14]:
# checking data types for different columns within the 'image_predictions' table
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [15]:
# checking for the numbers of rows and columns within the 'image_predictions' table
image_predictions.shape

(2075, 12)

In [16]:
# visually assessing the 'tweet_json' table
tweet_json.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,False,False,en,NaN,NaN,NaN,NaN
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,False,False,en,NaN,NaN,NaN,NaN
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,False,False,en,NaN,NaN,NaN,NaN
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,False,False,en,NaN,NaN,NaN,NaN
4,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,False,False,en,NaN,NaN,NaN,NaN

In [17]:
# checking data types for different columns within the 'tweet_json' table
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   object
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   object
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     object
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     object
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      object
 16  coordinates                    0 non-null      object
 17  place                          1 non-null      object
 18  contributors                   0 non-null      object
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   object
 25  possibly_sensitive_appealable  2211 non-null   object
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     object
 30  quoted_status                  28 non-null     object
dtypes: bool(4), float64(3), int64(3), object(21)
memory usage: 505.9+ KB

In [18]:
# checking for the numbers of rows and columns within the 'tweet_json' table
tweet_json.shape

(2354, 31)

In [19]:
# visually assessing the 'twitter_archive' table
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [20]:
# checking data types for different columns within the 'twitter_archive' table
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [21]:
# checking for the numbers of rows and columns within the 'twitter_archive' table
twitter_archive.shape

(2356, 17)

In [22]:
twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [23]:
tweet_json.isnull().sum()

created_at                          0
id                                  0
id_str                              0
full_text                           0
truncated                           0
display_text_range                  0
entities                            0
extended_entities                 281
source                              0
in_reply_to_status_id            2276
in_reply_to_status_id_str        2276
in_reply_to_user_id              2276
in_reply_to_user_id_str          2276
in_reply_to_screen_name          2276
user                                0
geo                              2354
coordinates                      2354
place                            2353
contributors                     2354
is_quote_status                     0
retweet_count                       0
favorite_count                      0
favorited                           0
retweeted                           0
possibly_sensitive                143
possibly_sensitive_appealable     143
lang                                0
retweeted_status                 2175
quoted_status_id                 2325
quoted_status_id_str             2325
quoted_status                    2326
dtype: int64

# Programmatically Assessing the gathered data

In [24]:
# checking for 'NaN'/missing values within all the data sets 
twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [25]:
tweet_json.isnull().sum()

created_at                          0
id                                  0
id_str                              0
full_text                           0
truncated                           0
display_text_range                  0
entities                            0
extended_entities                 281
source                              0
in_reply_to_status_id            2276
in_reply_to_status_id_str        2276
in_reply_to_user_id              2276
in_reply_to_user_id_str          2276
in_reply_to_screen_name          2276
user                                0
geo                              2354
coordinates                      2354
place                            2353
contributors                     2354
is_quote_status                     0
retweet_count                       0
favorite_count                      0
favorited                           0
retweeted                           0
possibly_sensitive                143
possibly_sensitive_appealable     143
lang                                0
retweeted_status                 2175
quoted_status_id                 2325
quoted_status_id_str             2325
quoted_status                    2326
dtype: int64

In [26]:
image_predictions.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [27]:
# checking for duplicates in all the gathered datasets
twitter_archive.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2351    False
2352    False
2353    False
2354    False
2355    False
Length: 2356, dtype: bool

### Quality issues

#### `twitter archive` table

- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp, expanded_urls columns all have NaN/missing values
- tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp, columns all have wrong datatypes
- row 1515 under the 'expanded_url' column within the twitter archive table has a url that isn't related to or connected to twitter
- name,doggo,floofer,pupper,puppo columns have some values represented as 'None' instead of 'NaN' to indicate that no data is available or was given for that field
- 'tweet_id' column in 'image_prediction' and 'twitter_archive' table is the same with 'id' in 'tweet_json' table
- 'retweeted_status_id','retweeted_status_user_id', & 'retweeted_status_timestamp' shoud all be removed from the 'twitter archive' table to avoid tweet recounts

#### `twitter json` table

- extended_entities,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,geo,coordinates,place,contributors,possibly_sensitive,possibly_sensitive_appealable,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status columns all have NaN/missing values
- created_at,id,in_reply_to_status_id,quoted_status_id,id columns all have wrong data types
- some rows (e.g 108,580,893) under the 'retweeted_status' column have values that should be in the 'created_at' column

#### `image_predictions` table

tweet_id column has a wrong data type

### Tidiness issues 
- Some columns (e.g tweet_id, in_reply_to_status_id,in_reply_to_user_id & source are present in more than one table
- 'display_text_range' column within the twitter_api table has two variables for text range that should each have a seperate column

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [28]:
# Make copies of original pieces of data
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweet_json_clean = tweet_json.copy()

### Issue #1: Inaccurate data

row 1515 under the 'expanded_url' column within the twitter archive table has a url that isn't related to or connected to twitter

#### Define 

Replace the given url with NaN

In [29]:
twitter_archive_clean.iloc[1515]

tweet_id                                                     690989312272396288
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2016-01-23 20:07:44 +0000
source                        <a href="http://vine.co" rel="nofollow">Vine -...
text                          We've got a doggy down. Requesting backup. 12/...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                                     https://vine.co/v/iOZKZEU2nHq
rating_numerator                                                             12
rating_denominator                                                           10
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 1515, dtype: object

### Issue #2: Missing Data 

`twitter_archive`: in_reply_to_status_id, in_reply_to_user_id,expanded_urls columns all have NaN/missing values

 `twitter json` :extended_entities,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,geo,coordinates,place,contributors,possibly_sensitive,possibly_sensitive_appealable,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status columns all have NaN/missing values

#### Define: 
Replace all 'NaN'values with '0'.

In [30]:
twitter_archive_clean = twitter_archive_clean.fillna(0)

#### Code

In [31]:
twitter_archive_clean.isnull().sum()

tweet_id                      0
in_reply_to_status_id         0
in_reply_to_user_id           0
timestamp                     0
source                        0
text                          0
retweeted_status_id           0
retweeted_status_user_id      0
retweeted_status_timestamp    0
expanded_urls                 0
rating_numerator              0
rating_denominator            0
name                          0
doggo                         0
floofer                       0
pupper                        0
puppo                         0
dtype: int64

#### Test

In [32]:
twitter_archive_clean.isnull().sum()

tweet_id                      0
in_reply_to_status_id         0
in_reply_to_user_id           0
timestamp                     0
source                        0
text                          0
retweeted_status_id           0
retweeted_status_user_id      0
retweeted_status_timestamp    0
expanded_urls                 0
rating_numerator              0
rating_denominator            0
name                          0
doggo                         0
floofer                       0
pupper                        0
puppo                         0
dtype: int64

## Issue #3: Wrong Datatypes
- `twitter archive table` : tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp, columns all have wrong datatypes
- `twitter json table` : created_at,id,in_reply_to_status_id,quoted_status_id,id columns all have wrong data types

#### Define: 
Convert all the listed wrong datatypes to string & timestamp using the astype & pd.to_datetime method

#### Code

In [33]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])
twitter_archive_clean['tweet_id'] = twitter_archive_clean['tweet_id'].astype(str)
twitter_archive_clean['in_reply_to_status_id'] = twitter_archive_clean['in_reply_to_status_id'].astype(str)
twitter_archive_clean['in_reply_to_user_id'] = twitter_archive_clean['in_reply_to_user_id'].astype(str)
tweet_json_clean['in_reply_to_status_id'] = tweet_json_clean['in_reply_to_status_id'].astype(str)
tweet_json_clean['created_at'] = pd.to_datetime(tweet_json_clean['created_at']) 
tweet_json_clean['id'] = tweet_json_clean['id'].astype(str)
tweet_json_clean['quoted_status_id'] = tweet_json_clean['quoted_status_id'].astype(str)
image_predictions_clean['tweet_id'] = image_predictions_clean['tweet_id'].astype(str)

#### Test

In [34]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       2356 non-null   object
 2   in_reply_to_user_id         2356 non-null   object
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         2356 non-null   float64
 7   retweeted_status_user_id    2356 non-null   float64
 8   retweeted_status_timestamp  2356 non-null   object
 9   expanded_urls               2356 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(12)
memory usage: 313.0+ KB

In [35]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Issue #4:
'tweet_id' column in 'image_prediction' and 'twitter_archive' table is the same with 'id' in 'tweet_json' table

#### Define 

Merge all the tables using the common columns with the merge method

### Code

In [36]:
twitter_archive_master = pd.merge(twitter_archive_clean,image_predictions_clean, on = 'tweet_id')

In [37]:
twitter_archive_master = pd.merge(twitter_archive_master,tweet_json_clean, left_on = 'tweet_id', right_on = 'id' )

#### Test

In [38]:
twitter_archive_master.head()

,tweet_id,in_reply_to_status_id_x,in_reply_to_user_id_x,timestamp,source_x,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,892420643555336193,0.0,0.0,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0.0,0.0,0,https://twitter.com/dog_rates/status/892420643...,...,39467,False,False,False,False,en,NaN,nan,NaN,NaN
1,892177421306343426,0.0,0.0,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0.0,0.0,0,https://twitter.com/dog_rates/status/892177421...,...,33819,False,False,False,False,en,NaN,nan,NaN,NaN
2,891815181378084864,0.0,0.0,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,0.0,0.0,0,https://twitter.com/dog_rates/status/891815181...,...,25461,False,False,False,False,en,NaN,nan,NaN,NaN
3,891689557279858688,0.0,0.0,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,0.0,0.0,0,https://twitter.com/dog_rates/status/891689557...,...,42908,False,False,False,False,en,NaN,nan,NaN,NaN
4,891327558926688256,0.0,0.0,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,0.0,0.0,0,https://twitter.com/dog_rates/status/891327558...,...,41048,False,False,False,False,en,NaN,nan,NaN,NaN

# BREAK OFF BETWEEN OLD AND NEW COPY

#### Code

In [39]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_id.isnull()]

In [40]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_user_id.isnull()]

In [41]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_timestamp.isnull()]

In [42]:
twitter_archive_clean.drop('retweeted_status_id', axis = 1,inplace = True)

In [43]:
twitter_archive_clean.drop('retweeted_status_user_id', axis = 1, inplace = True)

In [44]:
twitter_archive_clean.drop('retweeted_status_timestamp', axis = 1, inplace = True)

#### Test

In [45]:
twitter_archive_clean.head()

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### Issue #2: Missing Data 

`twitter_archive`: in_reply_to_status_id, in_reply_to_user_id,expanded_urls columns all have NaN/missing values

 `twitter json` :extended_entities,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,geo,coordinates,place,contributors,possibly_sensitive,possibly_sensitive_appealable,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status columns all have NaN/missing values

#### Define: 
Replace all 'NaN'values with '0'.

#### Code

In [46]:
twitter_archive_clean = twitter_archive_clean.fillna(0)

In [47]:
tweet_json_clean = tweet_json_clean.fillna(0)

#### Test

In [48]:
twitter_archive_clean.isnull().sum()

tweet_id                 0.0
in_reply_to_status_id    0.0
in_reply_to_user_id      0.0
timestamp                0.0
source                   0.0
text                     0.0
expanded_urls            0.0
rating_numerator         0.0
rating_denominator       0.0
name                     0.0
doggo                    0.0
floofer                  0.0
pupper                   0.0
puppo                    0.0
dtype: float64

In [49]:
tweet_json_clean.isnull().sum()

created_at                       0
id                               0
id_str                           0
full_text                        0
truncated                        0
display_text_range               0
entities                         0
extended_entities                0
source                           0
in_reply_to_status_id            0
in_reply_to_status_id_str        0
in_reply_to_user_id              0
in_reply_to_user_id_str          0
in_reply_to_screen_name          0
user                             0
geo                              0
coordinates                      0
place                            0
contributors                     0
is_quote_status                  0
retweet_count                    0
favorite_count                   0
favorited                        0
retweeted                        0
possibly_sensitive               0
possibly_sensitive_appealable    0
lang                             0
retweeted_status                 0
quoted_status_id                 0
quoted_status_id_str             0
quoted_status                    0
dtype: int64

### Issue #3: Wrong Datatypes 

 `twitter archive table` : tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp, columns all have wrong datatypes
 
 `twitter json table` : created_at,id,in_reply_to_status_id,quoted_status_id,id columns all have wrong data types

#### Define: 
Convert all the listed wrong datatypes to string & timestamp using the astype & pd.to_datetime method

#### Code

In [50]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])
twitter_archive_clean['tweet_id'] = twitter_archive_clean['tweet_id'].astype(str)
twitter_archive_clean['in_reply_to_status_id'] = twitter_archive_clean['in_reply_to_status_id'].astype(str)
twitter_archive_clean['in_reply_to_user_id'] = twitter_archive_clean['in_reply_to_user_id'].astype(str)
tweet_json_clean['in_reply_to_status_id'] = tweet_json_clean['in_reply_to_status_id'].astype(str)
tweet_json_clean['created_at'] = pd.to_datetime(tweet_json_clean['created_at']) 
tweet_json_clean['id'] = tweet_json_clean['id'].astype(str)
tweet_json_clean['quoted_status_id'] = tweet_json_clean['quoted_status_id'].astype(str)
image_predictions_clean['tweet_id'] = image_predictions_clean['tweet_id'].astype(str)

#### Test

In [51]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               0 non-null      object
 1   in_reply_to_status_id  0 non-null      object
 2   in_reply_to_user_id    0 non-null      object
 3   timestamp              0 non-null      datetime64[ns]
 4   source                 0 non-null      object
 5   text                   0 non-null      object
 6   expanded_urls          0 non-null      object
 7   rating_numerator       0 non-null      int64
 8   rating_denominator     0 non-null      int64
 9   name                   0 non-null      object
 10  doggo                  0 non-null      object
 11  floofer                0 non-null      object
 12  pupper                 0 non-null      object
 13  puppo                  0 non-null      object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 0.0+ bytes

In [52]:
tweet_json_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   object
 2   id_str                         2354 non-null   object
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2354 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          2354 non-null   object
 10  in_reply_to_status_id_str      2354 non-null   object
 11  in_reply_to_user_id            2354 non-null   float64
 12  in_reply_to_user_id_str        2354 non-null   object
 13  in_reply_to_screen_name        2354 non-null   object
 14  user                           2354 non-null   object
 15  geo                            2354 non-null   int64
 16  coordinates                    2354 non-null   int64
 17  place                          2354 non-null   object
 18  contributors                   2354 non-null   int64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2354 non-null   object
 25  possibly_sensitive_appealable  2354 non-null   object
 26  lang                           2354 non-null   object
 27  retweeted_status               2354 non-null   object
 28  quoted_status_id               2354 non-null   object
 29  quoted_status_id_str           2354 non-null   object
 30  quoted_status                  2354 non-null   object
dtypes: bool(4), datetime64[ns, UTC](1), float64(1), int64(5), object(20)
memory usage: 505.9+ KB

In [53]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Issue #4:
'tweet_id' column in 'image_prediction' and 'twitter_archive' table is the same with 'id' in 'tweet_json' table

#### Define 

Merge all the tables using the common columns with the merge method

#### Code

In [54]:
twitter_archive_master = pd.merge(twitter_archive_clean,image_predictions_clean, on = 'tweet_id')

In [55]:
twitter_archive_master = pd.merge(twitter_archive_master,tweet_json_clean, left_on = 'tweet_id', right_on = 'id' )

#### Test

In [56]:
twitter_archive_master.head()

Empty DataFrame
Columns: [in_reply_to_status_id_x, in_reply_to_user_id_x, timestamp, source_x, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, created_at, id, id_str, full_text, truncated, display_text_range, entities, extended_entities, source_y, in_reply_to_status_id_y, in_reply_to_status_id_str, in_reply_to_user_id_y, in_reply_to_user_id_str, in_reply_to_screen_name, user, geo, coordinates, place, contributors, is_quote_status, retweet_count, favorite_count, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable, lang, retweeted_status, quoted_status_id, quoted_status_id_str, quoted_status]
Index: []

[0 rows x 56 columns]

In [61]:
mask=~twitter_archive_clean['expanded_urls'].isna() & twitter_archive_clean['expanded_urls'].str.contains('https://vine.co/v/iOZKZEU2nHq')

twitter_archive_clean.loc[mask]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [58]:
twitter_archive_clean.loc[mask,'expanded_urls']=np.nan

In [59]:
twitter_archive_clean.loc[mask,'expanded_urls']

Series([], Name: expanded_urls, dtype: object)

In [60]:
twitter_archive.iloc[[1515]]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1515,690989312272396288,NaN,NaN,2016-01-23 20:07:44 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",We've got a doggy down. Requesting backup. 12/...,NaN,NaN,NaN,https://vine.co/v/iOZKZEU2nHq,12,10,None,None,None,None,None